p {
    font-size: 5px;
}

/* 630px */
@media (min-width: 39.375em) {
    p {
        font-size: 6px;
    }
}

/* 900px */
@media (max-width: 900px) {
    p {
        font-size: 7px;
    }
}
@media (max-width: 900px) { p { font-size: 7.5px; } }

/* 940px */
@media (min-width: 58.75em) {
    p {
        font-size: 8px;
    }
}
@media (min-width: 58.75rem) { p { font-size: 8.5px; } }

/* 0px - 800px */
@media screen and (min-width: 0) and (max-width: 800px) {
    .nested p, .comma-separated {
        font-size: 9px;
    }

    html {} html .nested {
        font-size: 9.5px;
    }

    span {
        font-size: 10px;
    }
}

/* 0px - 100px or 200px - 800px */
@media screen and (min-width: 0) and (max-width: 100px), (min-width: 200px) and (max-width: 800px) {
    .foobar {
        color: tomato;
    }
}
